<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="MailGroup">
      <section name="Mail1" type="System.Configuration.NameValueSectionHandler" />
      <section name="Mail2" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="mailGroup" type="System.Configuration.AppSettingsSection" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="webSericeUrl" value="http://localhost:30774/api/issue/CreateIssueByEmail" />
    <add key="webServicePw" value="3Y5KJ5C2CXA9HUZMW4HFKB0X3WZO9JMU" />
    <add key="webserviceUsr" value="J75J25KBW9Q76EQG" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <MailGroup>
    <Mail1>
      <add key="type" value="popss" />
      <add key="mailFrom" value="squadittestmail@gmail.com" />
      <add key="userName" value="squadittestmail@gmail.com" />
      <add key="password" value="mwMclwq8N2jkLlu3jtPejGDL" />
      <add key="receiveHost" value="pop.gmail.com" />
      <add key="sendHost" value="smtp.gmail.com" />
      <add key="sendPort" value="587" />
      <add key="receivePort" value="995" />
      <add key="ReceiveEnableSsl" value="true" />
      <add key="SendEnableSsl" value="true" />
      <add key="subjectId" value="5" />
    </Mail1>
    <Mail2>
      <add key="type" value="pop" />
      <add key="mailFrom" value="suporte_sigefe@igefe.mec.pt" />
      <add key="userName" value="suporte_sigefe" />
      <add key="password" value="1234%qwerT" />
      <add key="receiveHost" value="servicos.min-educ.pt" />
      <add key="sendHost" value="servicos.min-educ.pt" />
      <add key="sendPort" value="587" />
      <add key="receivePort" value="995" />
      <add key="ReceiveEnableSsl" value="true" />
      <add key="SendEnableSsl" value="true" />
      <add key="subjectId" value="5" />
      <add key="teamId" value="1" />
    </Mail2>
  </MailGroup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>